<input type="text" value="<%= code %>" id="inputCp">

<button onclick="cpClip()">Copy Code</button>
<script>
  window.history.replaceState({}, document.title, '/');

  const cpClip = () => {
    const cpText = document.getElementById('inputCp');

    cpText.select();
    document.execCommand('copy');
  };
</script>